ion-content {
    --background: #ffffff; /* Fondo blanco */
  }
  
  ion-toolbar {
    --background: #ffffff; /* Fondo del header blanco */
  }
  
  ion-item {
    --background: #ffffff;
  }
  
  ion-label, ion-input, ion-textarea {
    color: #000000; /* Textos en negro */
  }
  